.header-style{
    padding: 10px 30px;
    .header-left{
        width: 10%;
        img{
            float: left;
        }
    }
    .header-right{
        width: 90%;
        .nav-style{
            float: right;
            ul {
                margin-right: 50px;
                li{
                list-style-type: none;
                display: inline-block;
                padding: 10px;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
            }
        }
    }
}