@import url("https://fonts.google.com/specimen/Inter");
//font
$body-font: "Inter", sans-serif;

// primary
$orange-color: hsl(35, 77%, 62%);
$red-color: hsl(5, 85%, 63%);

//neutral
$white-color: hsl(36, 100%, 99%);
$gray-color: hsl(233, 8%, 79%);
$gray2-color: hsl(236, 13%, 42%);
$gray3-color: hsl(240, 100%, 5%);


//fontsize
$font-size1: 15px;
